div.button {
  margin: 30px;
  border: 1px solid #000;
  display: inline-block;
  padding: 6px;
}
#mac {
  border-radius: 16px; /* half of button size + padding */
  -moz-border-radius: 16px;
  height: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#8cc0f6), to(#cfe4fa));
  background: -moz-linear-gradient(top, #8cc0f6, #cfe4fa);
}
#gmail { 
  border-radius: 3px;
  -moz-border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  background: -moz-linear-gradient(top, #fff, #ddd);  
  border: 1px solid #bbb;
}

#circle {
  border-radius: 36px; /* half of button size + padding */
  -moz-border-radius: 36px;
  height: 60px;
  width: 60px;
  border: 2px solid #ccc;
  left: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#f53e0c), to(#ffbaa8));
  background: -moz-linear-gradient(top, #f53e0c, #ffbaa8);  
}

#circle span {
  position: relative;
  top: 10px;
  left: 10px;
}